@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --dark-gray: #121212;
  --layer-00: rgb(18, 18, 18);
  --layer-01: rgb(30, 30, 30);
  --layer-02: rgb(35, 35, 35);
  --layer-03: rgb(37, 37, 37);
  --layer-04: rgb(39, 39, 39);
  --layer-06: rgb(44, 44, 44);
  --layer-08: rgb(46, 46, 46);
  --layer-12: rgb(51, 51, 51);
  --layer-16: rgb(54, 54, 54);
  --layer-24: rgb(56, 56, 56);

  --white: #FFFFFF;
  --text-color: #CECECE;
  --light-gray: #535353;

  --fern-green: #3F784C;
  --azure: #3F84E5;
  --ochre: #C17817;
  --iris: #454ADE;
  --red: #B20D30;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

input {
  background: none;
  outline: none;
  border: none;
}

button {
  border: none;
  background: none;
}